@charset "UTF-8";

* {
    margin:0px;
    padding: 0px;
    border-width: 0px;
    font: large Arial, Helvetica, sans-serif;
}

p {
    color: white;
}

header > a {
    height: inherit;
}

button {
    padding: 15px;
    margin-left: 10px;
    background-color: gray;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}

header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    background-color: gray;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.178);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: max-content;
}

a > img {
    height: 100%;
}

body > main {
    background-color: ghostwhite;
    padding: 10px;
    gap: 4px;
    height: 100%;
}

main  p {
    text-align: center;
    color: black;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 4px;
}

.secaoDados {
    width: 33.3%;
    background-color: white;
    margin: 0px 10px 0px 10px;
    padding: 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.secaoDados > p {
    color: black;
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: solid gray 1px;
}

.campos {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
}

.nomeCampos {
    font-weight: bold;
    font-size: small;
    margin-bottom: 5px;
}

.inputCampos {
    border-radius: 5px;
    font-size: x-small; 
    padding: 3px 3px 3px 6px;
    border: solid 1px gray;
}

.campoDuplo {
    display: flex;
    justify-content: space-between;
}

.campoDuplo > div {
    width: 42%;
    margin-bottom: 10px;
}

@media (max-width: 1051px) {
    .campoDuplo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .campoDuplo > div {
        width: 100%;
        margin-bottom: 0;
    }
}

.secaoDados > #container-produtos-checkout {
    max-height: 512px;
    overflow: hidden;
    overflow-y: auto;
}

#container-produtos-checkout::-webkit-scrollbar {
    width: 0;
}

.card-carrinho {
    position: relative;
    background-color: white;
    display:flex;
    justify-content: space-between;
    width: 300px;
    margin: 5px auto;
    border-radius: 15px 9px 0px 0px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1110px) {
    .secaoDados > .card-carrinho {
        position: relative;
        background-color: white;
        display:flex;
        justify-content: space-between;
        width: 89%;
        margin: 5px auto;
        border-radius: 15px 9px 0px 0px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
}

.card-carrinho > img {
    width: 20%;
    border-radius: 15px 0px;
    box-shadow: 2px 0px 6px -3px rgba(0, 0, 0, 0.39);
}

#info-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0px 5px 0px;
    justify-content: space-between;
}

#info-cart > p {
    text-align: left;
    color: black;
    font-weight: lighter;
    font-size: smaller;
    padding: 2px 0px;
    margin: 0px 7px;
}

#info-cart > #name-cart{
    color: black;
    font-size: small;
    font-weight: bold;
}

#info-cart > #size-cart{
    color: gray;
    font-size: x-small;
    font-weight: bold;
}

#info-cart > #price-cart{
    color: rgb(0, 190, 0);
    font-weight: bold;
}

#count {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 2px;
    right: 10px;
}

#celula-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px gray;
    margin: 0px 10px;
}

#celula-checkout > button {
    margin: 0px;
    width: 100%
}
